$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';
$background-color: #fefefe;
$font-color: #0c0c0c;

body {
  background-color: $background-color;
  color: $font-color;
  padding-bottom: 15px;
  padding-top: 15px;
}

button,
form,
input,
legend {
  float: left;
  font-size: 12px;
  margin: 6px;
}

.form-control {
  padding: 2px 6px;
}

.row-centered {
  // use viewport width to expand content responsively in parallel with columns,
  font-size: 8vw;
  text-align: center;
}

.col-centered {
  display: inline-block;
  height: 14vw;
  text-align: center;
}

.game-message {
  font-size: 24px;
  padding-top: 12px;
}

.game-buttons {
  margin-top: 36px;
}

.signed-in {
  font-size: 24px;
}

.gameboard {
  margin-left: 6vw;
  margin-top: 9vw;
  // transform: rotate(-45deg);
}

.tray,
.child,
.parent {
  border-radius: 8vw;
  font-size: 2vw;
  padding-top: 5vw;
  // transform: rotate(45deg);
}

.shift {
  left: 6vw;
  position: relative;
}

.top {
  border-top: .5vw solid $font-color;
}

.right {
  border-right: .5vw solid $font-color;
}

.bottom {
  border-bottom: .5vw solid $font-color;
}

.left {
  border-left: .5vw solid $font-color;
}
